<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles1.css') }}">
  <title>Covid-Vision</title>
</head>
<style>
  body{
    background-image: url("{{ url_for('static', filename='images/back-img.jpg') }}");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover, 100% auto;
    background-attachment: fixed;
    overflow: hidden;
}
</style>
<body>
    <section>
        <div class="nav-bar">
          <h1 style=" font-size: 35px; margin-left: 30px;font-weight: bold; color:#E5E4E2">Covid-Vision</h1>
          <div class="inner-nav">
            <a href="/" style="color: #ffff;font-weight: bold">Home</a>
            <a href="about" style="color: #ffff;font-weight: bold">About</a>
            <a href="precautions" style="color: #ffff;font-weight: bold">Precautions</a>
            <a href="trends" style="color: #ffff;font-weight: bold;">Trends</a>
            <a href="home" style="color: #ffff;font-weight: bold">Test</a>
          </div>
        </div>
        <br>
      </section>
      <section>
        <div class="container">
            <p class="lines1" style="margin-top: 0; padding-top: 20px;">Intelligent Companion for COVID Safety</p>
            <br>
            <br>
            <p class="lines2" style="margin-top: 40px;">Stay Informed and Stay Protected</p>
            <br>
            <p class="lines2">Get Smart,Stay Alert</p>
            <br>
            <p class="lines2">Spread Kindness,Not the Virus</p>
            <br>
            <br>
            <button id="findoutmoreButton" class="btn btn-light btn-lg" style="margin-top: 50px; border-radius: 20px;"><a href="about" style="text-decoration: none;color: black;">Find Out More</a></button>

        </div>
      </section>
      <br>
      <br>
      <footer>
        <p class="text">Copyright © 2024</p>
      </footer>
</body>
</html>
