<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  
  <style>
    body{
    background-image: url("{{ url_for('static', filename='images/back-img.jpg') }}");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover, 100% auto;
    background-attachment: fixed;
    overflow: auto;
}
   </style>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <title>Covid-Vision</title>
</head>
<body> 
    <section>
        <div class="nav-bar">
          <h1 style=" font-size: 35px; margin-left: 30px;font-weight: bold; color:#E5E4E2">Covid-Vision</h1>
          <div class="inner-nav">
            <a href="/" style="color: #ffff;font-weight: bold">Home</a>
            <a href="about" style="color: #ffff;font-weight: bold">About</a>
            <a href="precautions" style="color: #ffff;font-weight: bold">Precautions</a>
            <a href="trends" style="color: #ffff;font-weight: bold;">Trends</a>
            <a href="home" style="color: #ffff;font-weight: bold">Test</a>
          </div>
        </div>
        <br>
      </section>
      <section>
        <div class="container" style="width: 700px;margin-left: 18px;">
            <p class="lines1" style="margin-top: 0; padding-top: 20px;">Stay Safe, Stay Informed: Quick and Accurate COVID-19 Detection at Your Fingertips!</p>
            <br>
            <p class="lines2">Upload your chest X-ray for a preliminary analysis</p>
            <p class="lines2">Your results will be displayed</p>
            <br>
            <br>
            <form action = "http://127.0.0.1:5000/predict" id="upload-file" method="post" enctype="multipart/form-data">
                <div class="button">
                    <button id="uploadButton" type="button" class="btn btn-outline-light btn-lg"  style="border-radius: 20px;">Upload</button>
                    <br>
                       <img id="imagePreview" src="#" alt="Uploaded Image Preview" style="max-width: 100%; height: auto; display: none;">
                    <br>
                    <input type="file" name="image" id="imageUpload" accept=".png, .jpg, .jpeg" style="opacity: 0;">
                    <button type="submit" class="btn btn-info btn-lg"> submit</button>
                    <br>
                    <br>
                    <br>
                    <div style="margin-top: 30px;"><p style="color: #ffff; font-size: 18px; font-weight: bold;">{{result}}</p></div>
                </div>
            </form> 
        </div>
      </section>
      <br>
      <br>
      <br>
      <footer>
        <p class="text">Copyright © 2024</p>
      </footer>
      <script src="{{ url_for('static', filename='index.js') }}" charset="utf-8"></script>
</body>
</html>
